.fa-heart {
    color: hotpink;
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.8);
    }
    5% {
        -webkit-transform: scale(0.9);
    }
    10% {
        -webkit-transform: scale(0.8);
    }
    15% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}