<app-layout>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Register form</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">Username must be at least 5 characters</div>
                    <div *ngIf="f.username.errors.maxlength">Username must be less than 20 characters</div>
                </div>
                <small id="passwordHelpInline" class="text-muted">
                  Must be 5-20 characters long.
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    <div *ngIf="f.password.errors.maxlength">Username must be less than 8 characters</div>
                </div>
                <small id="passwordHelpInline" class="text-muted">
                  Must be 6-8 characters long.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="country">Country</label>
                <select id="country" formControlName="country" (change)="getCountryCode($event.target.value)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" required>
                    <option value="">Choose ...</option>
                    <option [value]="country.name" *ngFor="let country of countries">{{country.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
                <label for="Phone">Phone</label>
                <div class="form-row">
                    <div class="col-3 col-md-3 col-lg-2">
                        <input type="text" formControlName="code" class="form-control" readonly value="{{code}}" required>
                    </div>
                    <div class="col-9 col-md-9 col-lg-10">
                        <input type="tel" formControlName="phone" class="form-control" id="Phone" placeholder="Phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="terms" id="terms" [ngClass]="{ 'is-invalid': submitted && f.terms.errors }" required>
                <label class="form-check-label" for="terms">
                    Terms & Conditions
                </label>
            </div>
        </div>

        <button class="btn btn-primary">Register</button>
    </form>
</app-layout>